<%- include('partials/header') %>

<a class='navbar-brand' href='/'>AEMONTS</a>
<div class='nav-item'>
	<a class='nav-link' href="/home/new">Add new items</a>
</div>
<div class='nav-item'>
	<a class='nav-link' href="/home">index page</a>
</div>
<div class='nav-item'>
        <a class='nav-link' href="/home/signup">sign in</a>
</div>

</div>
</nav>

<div class='jumbotron'>

<h1 class='display-5'>Welcome to the Automated Equipment Monitoring and Theft Notification System for Labs</h1> 
<div style='margin-bottom:20px;margin-top:20px;'> To add a <strong>new item</strong> to the database, simply click the 'new item' button and scan your equipment that has a tag. You then have to fill in the rest of the form and hit the 'submit' button.</div>

<div> To <strong>register</strong> your student card into the system, simply click the 'signup' button and scan your student card. You will then complete the rest of the form and hit the submit button.</div>
</div>

<%- include('partials/footer') %>
