<a class='nav-link' href='/'>Home</a>
</div>
</nav>
<h1> Welcome to the signup page</h1>

<form action="/home" method="POST">
	<div>
		<label for=''>Student Number</label>
		<input type='text' name='students[student_number]' required>
	</div>
	<div>
		<label for=''>Student Tag ID</label>
		<input type='text' name='students[tagID]' value='<%=my_data%>' required>
	</div>
	<input type='submit' name='' id=''>

</form>
